<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ngx-admin documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">ngx-admin documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>CountryOrdersChartComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/AfterViewInit" target="_blank" >AfterViewInit</a></code>
                    <code><a href="https://angular.io/api/core/OnDestroy" target="_blank" >OnDestroy</a></code>
                    <code><a href="https://angular.io/api/core/OnChanges" target="_blank" >OnChanges</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ngx-country-orders-chart</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./country-orders-chart.component.scss</code></td>
            </tr>


            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;header&quot;&gt;
  &lt;span class&#x3D;&quot;caption&quot;&gt;Selected Country/Region&lt;/span&gt;
  &lt;h2 class&#x3D;&quot;h4&quot;&gt;{{ countryName }}&lt;/h2&gt;
&lt;/div&gt;
&lt;div echarts
     [options]&#x3D;&quot;option&quot;
     class&#x3D;&quot;echart&quot;
     (chartInit)&#x3D;&quot;onChartInit($event)&quot;&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#alive">alive</a>
                            </li>
                            <li>
                                <a href="#echartsInstance">echartsInstance</a>
                            </li>
                            <li>
                                <a href="#option">option</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngAfterViewInit">ngAfterViewInit</a>
                            </li>
                            <li>
                                <a href="#ngOnChanges">ngOnChanges</a>
                            </li>
                            <li>
                                <a href="#ngOnDestroy">ngOnDestroy</a>
                            </li>
                            <li>
                                <a href="#onChartInit">onChartInit</a>
                            </li>
                            <li>
                                <a href="#resizeChart">resizeChart</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#countryName">countryName</a>
                            </li>
                            <li>
                                <a href="#data">data</a>
                            </li>
                            <li>
                                <a href="#labels">labels</a>
                            </li>
                            <li>
                                <a href="#maxValue">maxValue</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(theme: <a href="../classes/Service.html">NbThemeService</a>, layoutService: <a href="../injectables/LayoutService.html">LayoutService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="32" class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:32</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>theme</td>
                                                  
                                                        <td>
                                                                        <code><a href="../classes/Service.html" target="_self" >NbThemeService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>layoutService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/LayoutService.html" target="_self" >LayoutService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="countryName"></a>
                        <b>countryName</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="24" class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:24</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="data"></a>
                        <b>data</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>number[]</code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="25" class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:25</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="labels"></a>
                        <b>labels</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>string[]</code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="27" class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:27</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="maxValue"></a>
                        <b>maxValue</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="26" class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:26</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>



    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngAfterViewInit"></a>
                    <span class="name">
                        <b>
                            ngAfterViewInit
                        </b>
                        <a href="#ngAfterViewInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngAfterViewInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="61"
                            class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:61</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnChanges"></a>
                    <span class="name">
                        <b>
                            ngOnChanges
                        </b>
                        <a href="#ngOnChanges"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnChanges(changes: <a href="https://angular.io/api/core/SimpleChanges" target="_blank">SimpleChanges</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="43"
                            class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:43</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>changes</td>
                                    <td>
                                                <code><a href="https://angular.io/api/core/SimpleChanges" target="_blank" >SimpleChanges</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnDestroy"></a>
                    <span class="name">
                        <b>
                            ngOnDestroy
                        </b>
                        <a href="#ngOnDestroy"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnDestroy()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="177"
                            class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:177</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onChartInit"></a>
                    <span class="name">
                        <b>
                            onChartInit
                        </b>
                        <a href="#onChartInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onChartInit(ec)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="167"
                            class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:167</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ec</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="resizeChart"></a>
                    <span class="name">
                        <b>
                            resizeChart
                        </b>
                        <a href="#resizeChart"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>resizeChart()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="171"
                            class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:171</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="alive"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Private</span>
                            alive</b>
                            <a href="#alive"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>true</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="29" class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:29</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="echartsInstance"></a>
                        <span class="name">
                            <b>
                            echartsInstance</b>
                            <a href="#echartsInstance"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="32" class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:32</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="option"></a>
                        <span class="name">
                            <b>
                            option</b>
                            <a href="#option"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>{}</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="31" class="link-to-prism">src/app/pages/e-commerce/country-orders/chart/country-orders-chart.component.ts:31</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { AfterViewInit, Component, Input, OnChanges, OnDestroy, SimpleChanges } from &#x27;@angular/core&#x27;;
import { NbThemeService } from &#x27;@nebular/theme&#x27;;
import { takeWhile } from &#x27;rxjs/operators&#x27;;
import { LayoutService } from &#x27;../../../../@core/utils/layout.service&#x27;;


@Component({
  selector: &#x27;ngx-country-orders-chart&#x27;,
  styleUrls: [&#x27;./country-orders-chart.component.scss&#x27;],
  template: &#x60;
    &lt;div class&#x3D;&quot;header&quot;&gt;
      &lt;span class&#x3D;&quot;caption&quot;&gt;Selected Country/Region&lt;/span&gt;
      &lt;h2 class&#x3D;&quot;h4&quot;&gt;{{ countryName }}&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div echarts
         [options]&#x3D;&quot;option&quot;
         class&#x3D;&quot;echart&quot;
         (chartInit)&#x3D;&quot;onChartInit($event)&quot;&gt;
    &lt;/div&gt;
  &#x60;,
})
export class CountryOrdersChartComponent implements AfterViewInit, OnDestroy, OnChanges {

  @Input() countryName: string;
  @Input() data: number[];
  @Input() maxValue: number;
  @Input() labels: string[];

  private alive &#x3D; true;

  option: any &#x3D; {};
  echartsInstance;

  constructor(private theme: NbThemeService,
              private layoutService: LayoutService) {
    this.layoutService.onChangeLayoutSize()
      .pipe(
        takeWhile(() &#x3D;&gt; this.alive),
      )
      .subscribe(() &#x3D;&gt; this.resizeChart());
  }

  ngOnChanges(changes: SimpleChanges): void {
    if (changes.data &amp;&amp; !changes.data.isFirstChange()) {
      this.echartsInstance.setOption({
        series: [
          {
            data: this.data.map(v &#x3D;&gt; this.maxValue),
          },
          {
            data: this.data,
          },
          {
            data: this.data,
          },
        ],
      });
    }
  }

  ngAfterViewInit() {
    this.theme.getJsTheme()
      .pipe(takeWhile(() &#x3D;&gt; this.alive))
      .subscribe(config &#x3D;&gt; {
        const countriesTheme: any &#x3D; config.variables.countryOrders;

        this.option &#x3D; Object.assign({}, {
          grid: {
            left: &#x27;3%&#x27;,
            right: &#x27;3%&#x27;,
            bottom: &#x27;3%&#x27;,
            top: &#x27;3%&#x27;,
            containLabel: true,
          },
          xAxis: {
            axisLabel: {
              color: countriesTheme.chartAxisTextColor,
              fontSize: countriesTheme.chartAxisFontSize,
            },
            axisLine: {
              lineStyle: {
                color: countriesTheme.chartAxisLineColor,
                width: &#x27;2&#x27;,
              },
            },
            axisTick: {
              show: false,
            },
            splitLine: {
              lineStyle: {
                color: countriesTheme.chartAxisSplitLine,
                width: &#x27;1&#x27;,
              },
            },
          },
          yAxis: {
            data: this.labels,
            axisLabel: {
              color: countriesTheme.chartAxisTextColor,
              fontSize: countriesTheme.chartAxisFontSize,
            },
            axisLine: {
              lineStyle: {
                color: countriesTheme.chartAxisLineColor,
                width: &#x27;2&#x27;,
              },
            },
            axisTick: {
              show: false,
            },
          },
          series: [
            { // For shadow
              type: &#x27;bar&#x27;,
              data: this.data.map(v &#x3D;&gt; this.maxValue),
              cursor: &#x27;default&#x27;,
              itemStyle: {
                normal: {
                  color: countriesTheme.chartInnerLineColor,
                },
                opacity: 1,
              },
              barWidth: &#x27;40%&#x27;,
              barGap: &#x27;-100%&#x27;,
              barCategoryGap: &#x27;30%&#x27;,
              animation: false,
              z: 1,
            },
            { // For bottom line
              type: &#x27;bar&#x27;,
              data: this.data,
              cursor: &#x27;default&#x27;,
              itemStyle: {
                normal: {
                  color: countriesTheme.chartLineBottomShadowColor,
                },
                opacity: 1,
              },
              barWidth: &#x27;40%&#x27;,
              barGap: &#x27;-100%&#x27;,
              barCategoryGap: &#x27;30%&#x27;,
              z: 2,
            },
            {
              type: &#x27;bar&#x27;,
              barWidth: &#x27;35%&#x27;,
              data: this.data,
              cursor: &#x27;default&#x27;,
              itemStyle: {
                normal: {
                  color: new echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                    offset: 0,
                    color: countriesTheme.chartGradientFrom,
                  }, {
                    offset: 1,
                    color: countriesTheme.chartGradientTo,
                  }]),
                },
              },
              z: 3,
            },
          ],
        });
      });
  }

  onChartInit(ec) {
    this.echartsInstance &#x3D; ec;
  }

  resizeChart() {
    if (this.echartsInstance) {
      this.echartsInstance.resize();
    }
  }

  ngOnDestroy() {
    this.alive &#x3D; false;
  }

}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./country-orders-chart.component.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">@import &#x27;../../../../@theme/styles/themes&#x27;;
@import &#x27;~bootstrap/scss/mixins/breakpoints&#x27;;
@import &#x27;~@nebular/theme/styles/global/breakpoints&#x27;;

@include nb-install-component() {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  padding: nb-theme(card-padding);

  .header {
    margin-left: 1rem;
  }

  .echart {
    height: 75%;
  }

  @include media-breakpoint-down(sm) {
    height: 50%;
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="header">  <span class="caption">Selected Country/Region</span>  <h2 class="h4">{{ countryName }}</h2></div><div echarts     [options]="option"     class="echart"     (chartInit)="onChartInit($event)"></div></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'ngx-accordion'},{'name': 'AlertComponent', 'selector': 'ngx-alert'},{'name': 'AppComponent', 'selector': 'ngx-app'},{'name': 'BomComponent', 'selector': 'ngx-bom'},{'name': 'BomComponent', 'selector': 'ngx-bom-2'},{'name': 'BomDetailDialogComponent', 'selector': 'ngx-bom-detail-dialog'},{'name': 'BubbleMapComponent', 'selector': 'ngx-bubble-map'},{'name': 'ButtonsComponent', 'selector': 'ngx-buttons'},{'name': 'CalendarComponent', 'selector': 'ngx-calendar'},{'name': 'CalendarKitFullCalendarShowcaseComponent', 'selector': 'ngx-calendar-kit'},{'name': 'CalendarKitMonthCellComponent', 'selector': 'ngx-calendar-kit-month-cell'},{'name': 'ChartjsBarComponent', 'selector': 'ngx-chartjs-bar'},{'name': 'ChartjsBarHorizontalComponent', 'selector': 'ngx-chartjs-bar-horizontal'},{'name': 'ChartjsComponent', 'selector': 'ngx-chartjs'},{'name': 'ChartjsLineComponent', 'selector': 'ngx-chartjs-line'},{'name': 'ChartjsMultipleXaxisComponent', 'selector': 'ngx-chartjs-multiple-xaxis'},{'name': 'ChartjsPieComponent', 'selector': 'ngx-chartjs-pie'},{'name': 'ChartjsRadarComponent', 'selector': 'ngx-chartjs-radar'},{'name': 'ChartPanelHeaderComponent', 'selector': 'ngx-chart-panel-header'},{'name': 'ChartPanelHeaderComponent', 'selector': 'ngx-chart-panel-header'},{'name': 'ChartPanelSummaryComponent', 'selector': 'ngx-chart-panel-summary'},{'name': 'ChartPanelSummaryComponent', 'selector': 'ngx-chart-panel-summary'},{'name': 'ChartsComponent', 'selector': 'ngx-charts'},{'name': 'ChatComponent', 'selector': 'ngx-chat'},{'name': 'CKEditorComponent', 'selector': 'ngx-ckeditor'},{'name': 'ConfigurationComponent', 'selector': 'ngx-configuration'},{'name': 'ConnectivityComponent', 'selector': 'ngx-connectivity'},{'name': 'ContactsComponent', 'selector': 'ngx-contacts'},{'name': 'CountryOrdersChartComponent', 'selector': 'ngx-country-orders-chart'},{'name': 'CountryOrdersComponent', 'selector': 'ngx-country-orders'},{'name': 'CountryOrdersMapComponent', 'selector': 'ngx-country-orders-map'},{'name': 'CustomerOnboardComponent', 'selector': 'ngx-industry-vertical'},{'name': 'D3AdvancedPieComponent', 'selector': 'ngx-d3-advanced-pie'},{'name': 'D3AreaStackComponent', 'selector': 'ngx-d3-area-stack'},{'name': 'D3BarComponent', 'selector': 'ngx-d3-bar'},{'name': 'D3Component', 'selector': 'ngx-d3'},{'name': 'D3LineComponent', 'selector': 'ngx-d3-line'},{'name': 'D3PieComponent', 'selector': 'ngx-d3-pie'},{'name': 'D3PolarComponent', 'selector': 'ngx-d3-polar'},{'name': 'DashboardComponent', 'selector': 'ngx-dashboard'},{'name': 'DatepickerComponent', 'selector': 'ngx-datepicker'},{'name': 'DayCellComponent', 'selector': 'ngx-day-cell'},{'name': 'DialogComponent', 'selector': 'ngx-dialog'},{'name': 'DialogNamePromptComponent', 'selector': 'ngx-dialog-name-prompt'},{'name': 'EarningCardBackComponent', 'selector': 'ngx-earning-card-back'},{'name': 'EarningCardBackComponent', 'selector': 'ngx-earning-card-back'},{'name': 'EarningCardComponent', 'selector': 'ngx-earning-card'},{'name': 'EarningCardComponent', 'selector': 'ngx-earning-card'},{'name': 'EarningCardFrontComponent', 'selector': 'ngx-earning-card-front'},{'name': 'EarningCardFrontComponent', 'selector': 'ngx-earning-card-front'},{'name': 'EarningLiveUpdateChartComponent', 'selector': 'ngx-earning-live-update-chart'},{'name': 'EarningLiveUpdateChartComponent', 'selector': 'ngx-earning-live-update-chart'},{'name': 'EarningPieChartComponent', 'selector': 'ngx-earning-pie-chart'},{'name': 'EarningPieChartComponent', 'selector': 'ngx-earning-pie-chart'},{'name': 'EchartsAreaStackComponent', 'selector': 'ngx-echarts-area-stack'},{'name': 'EchartsBarAnimationComponent', 'selector': 'ngx-echarts-bar-animation'},{'name': 'EchartsBarComponent', 'selector': 'ngx-echarts-bar'},{'name': 'EchartsComponent', 'selector': 'ngx-echarts'},{'name': 'EchartsLineComponent', 'selector': 'ngx-echarts-line'},{'name': 'EchartsMultipleXaxisComponent', 'selector': 'ngx-echarts-multiple-xaxis'},{'name': 'EchartsPieComponent', 'selector': 'ngx-echarts-pie'},{'name': 'EchartsRadarComponent', 'selector': 'ngx-echarts-radar'},{'name': 'ECommerceChartsPanelComponent', 'selector': 'ngx-ecommerce-charts'},{'name': 'ECommerceChartsPanelComponent', 'selector': 'ngx-ecommerce-charts'},{'name': 'ECommerceComponent', 'selector': 'ngx-ecommerce'},{'name': 'ECommerceLegendChartComponent', 'selector': 'ngx-legend-chart'},{'name': 'ECommerceLegendChartComponent', 'selector': 'ngx-legend-chart'},{'name': 'ECommerceProgressSectionComponent', 'selector': 'ngx-progress-section'},{'name': 'ECommerceUserActivityComponent', 'selector': 'ngx-user-activity'},{'name': 'ECommerceVisitorsAnalyticsChartComponent', 'selector': 'ngx-visitors-analytics-chart'},{'name': 'ECommerceVisitorsAnalyticsComponent', 'selector': 'ngx-ecommerce-visitors-analytics'},{'name': 'ECommerceVisitorsStatisticsComponent', 'selector': 'ngx-visitors-statistics'},{'name': 'EditorsComponent', 'selector': 'ngx-editors'},{'name': 'ElectricityChartComponent', 'selector': 'ngx-electricity-chart'},{'name': 'ElectricityComponent', 'selector': 'ngx-electricity'},{'name': 'ERPNext', 'selector': 'ngx-erp-next'},{'name': 'ExtraComponentsComponent', 'selector': 'ngx-components'},{'name': 'FilterDialogComponent', 'selector': 'ngx-filter-dialog'},{'name': 'FilterTwoDialogComponent', 'selector': 'ngx-filter-two-dialog'},{'name': 'FooterComponent', 'selector': 'ngx-footer'},{'name': 'FormInputsComponent', 'selector': 'ngx-form-inputs'},{'name': 'FormLayoutsComponent', 'selector': 'ngx-form-layouts'},{'name': 'FormsComponent', 'selector': 'ngx-form-elements'},{'name': 'FsIconComponent', 'selector': 'ngx-fs-icon'},{'name': 'GmapsComponent', 'selector': 'ngx-gmaps'},{'name': 'GoodsReceiptComponent', 'selector': 'ngx-app-goods-receipt'},{'name': 'GridComponent', 'selector': 'ngx-grid'},{'name': 'HeaderComponent', 'selector': 'ngx-header'},{'name': 'IconsComponent', 'selector': 'ngx-icons'},{'name': 'InfiniteListComponent', 'selector': 'ngx-infinite-list'},{'name': 'InteractiveProgressBarComponent', 'selector': 'ngx-interactive-progress-bar'},{'name': 'IOTDashboardComponent', 'selector': 'ngx-iot-dashboard'},{'name': 'IotDataDialogComponent', 'selector': 'ngx-iot-data-dialog'},{'name': 'KittenComponent', 'selector': 'ngx-kitten'},{'name': 'LayoutComponent', 'selector': 'ngx-components'},{'name': 'LeafletComponent', 'selector': 'ngx-leaflet'},{'name': 'ListComponent', 'selector': 'ngx-list'},{'name': 'MapComponent', 'selector': 'ngx-map'},{'name': 'MapsComponent', 'selector': 'ngx-maps'},{'name': 'MiscellaneousComponent', 'selector': 'ngx-miscellaneous'},{'name': 'ModalOverlaysComponent', 'selector': 'ngx-modal-overlays'},{'name': 'NebularFormInputsComponent', 'selector': 'ngx-nebular-form-inputs'},{'name': 'NebularSelectComponent', 'selector': 'ngx-nebular-select'},{'name': 'NewsPostComponent', 'selector': 'ngx-news-post'},{'name': 'NewsPostPlaceholderComponent', 'selector': 'ngx-news-post-placeholder'},{'name': 'NgxAuthComponent', 'selector': 'ngx-auth'},{'name': 'NgxLoginComponent', 'selector': 'ngx-login'},{'name': 'NgxPopoverCardComponent', 'selector': 'ngx-popover-card'},{'name': 'NgxPopoverFormComponent', 'selector': 'ngx-popover-form'},{'name': 'NgxPopoverTabsComponent', 'selector': 'ngx-popover-tabs'},{'name': 'NgxResetPasswordComponent', 'selector': 'ngx-login'},{'name': 'NotFoundComponent', 'selector': 'ngx-not-found'},{'name': 'OnboardComponent', 'selector': 'ngx-on-board'},{'name': 'OneColumnLayoutComponent', 'selector': 'ngx-one-column-layout'},{'name': 'OrdersChartComponent', 'selector': 'ngx-orders-chart'},{'name': 'OrdersChartComponent', 'selector': 'ngx-orders-chart'},{'name': 'PagesComponent', 'selector': 'ngx-pages'},{'name': 'PersonalisationDialogComponent', 'selector': 'ngx-personalisation-dialog'},{'name': 'PlayerComponent', 'selector': 'ngx-player'},{'name': 'PopoversComponent', 'selector': 'ngx-popovers'},{'name': 'ProcessComponent', 'selector': 'ngx-process'},{'name': 'ProcessParameterComponent', 'selector': 'ngx-process-parameter'},{'name': 'ProcessTypeComponent', 'selector': 'ngx-process-type'},{'name': 'ProductionModeComponent', 'selector': 'ngx-production-mode'},{'name': 'ProfitCardComponent', 'selector': 'ngx-profit-card'},{'name': 'ProfitCardComponent', 'selector': 'ngx-profit-card'},{'name': 'ProfitChartComponent', 'selector': 'ngx-profit-chart'},{'name': 'ProfitChartComponent', 'selector': 'ngx-profit-chart'},{'name': 'ProgressBarComponent', 'selector': 'ngx-progress-bar'},{'name': 'QualityDataComponent', 'selector': 'ngx-app-quality-data'},{'name': 'QualityDataDialogComponent', 'selector': 'ngx-quality-data-dialog'},{'name': 'RoomsComponent', 'selector': 'ngx-rooms'},{'name': 'RoomSelectorComponent', 'selector': 'ngx-room-selector'},{'name': 'SearchComponent', 'selector': 'ngx-search-fields'},{'name': 'SearchComponent', 'selector': 'ngx-search'},{'name': 'SearchInputComponent', 'selector': 'ngx-search-input'},{'name': 'SearchMapComponent', 'selector': 'ngx-search-map'},{'name': 'SearchMaterialComponent', 'selector': 'ngx-search-material'},{'name': 'SecurityCamerasComponent', 'selector': 'ngx-security-cameras'},{'name': 'ShowcaseDialogComponent', 'selector': 'ngx-showcase-dialog'},{'name': 'SlideOutComponent', 'selector': 'ngx-slide-out'},{'name': 'SmartTableComponent', 'selector': 'ngx-smart-table'},{'name': 'SolarComponent', 'selector': 'ngx-solar'},{'name': 'SpinnerColorComponent', 'selector': 'ngx-spinner-color'},{'name': 'SpinnerComponent', 'selector': 'ngx-spinner'},{'name': 'SpinnerInButtonsComponent', 'selector': 'ngx-spinner-in-buttons'},{'name': 'SpinnerInTabsComponent', 'selector': 'ngx-spinner-in-tabs'},{'name': 'SpinnerSizesComponent', 'selector': 'ngx-spinner-sizes'},{'name': 'StartupWizardComponent', 'selector': 'ngx-startup-wizard'},{'name': 'StatsAreaChartComponent', 'selector': 'ngx-stats-ares-chart'},{'name': 'StatsAreaChartComponent', 'selector': 'ngx-stats-ares-chart'},{'name': 'StatsBarAnimationChartComponent', 'selector': 'ngx-stats-bar-animation-chart'},{'name': 'StatsBarAnimationChartComponent', 'selector': 'ngx-stats-bar-animation-chart'},{'name': 'StatsCardBackComponent', 'selector': 'ngx-stats-card-back'},{'name': 'StatsCardBackComponent', 'selector': 'ngx-stats-card-back'},{'name': 'StatsCardFrontComponent', 'selector': 'ngx-stats-card-front'},{'name': 'StatsCardFrontComponent', 'selector': 'ngx-stats-card-front'},{'name': 'StatusCardComponent', 'selector': 'ngx-status-card'},{'name': 'StepperComponent', 'selector': 'ngx-stepper'},{'name': 'Tab1Component', 'selector': 'ngx-tab1'},{'name': 'Tab2Component', 'selector': 'ngx-tab2'},{'name': 'TablesComponent', 'selector': 'ngx-tables'},{'name': 'TabsComponent', 'selector': 'ngx-tabs'},{'name': 'TemperatureComponent', 'selector': 'ngx-temperature'},{'name': 'TemperatureDraggerComponent', 'selector': 'ngx-temperature-dragger'},{'name': 'ThreeColumnsLayoutComponent', 'selector': 'ngx-three-columns-layout'},{'name': 'TinyMCEComponent', 'selector': 'ngx-tiny-mce'},{'name': 'TinyMCEComponent', 'selector': 'ngx-tiny-mce-page'},{'name': 'ToastrComponent', 'selector': 'ngx-toastr'},{'name': 'TolerenceDeviationComponent', 'selector': 'ngx-tolerence-deviation'},{'name': 'TooltipComponent', 'selector': 'ngx-tooltip'},{'name': 'TracexReportComponent', 'selector': 'ngx-tracex-report'},{'name': 'TrafficBackCardComponent', 'selector': 'ngx-traffic-back-card'},{'name': 'TrafficBarChartComponent', 'selector': 'ngx-traffic-bar-chart'},{'name': 'TrafficBarComponent', 'selector': 'ngx-traffic-bar'},{'name': 'TrafficCardsHeaderComponent', 'selector': 'ngx-traffic-cards-header'},{'name': 'TrafficChartComponent', 'selector': 'ngx-traffic-chart'},{'name': 'TrafficComponent', 'selector': 'ngx-traffic'},{'name': 'TrafficFrontCardComponent', 'selector': 'ngx-traffic-front-card'},{'name': 'TrafficRevealCardComponent', 'selector': 'ngx-traffic-reveal-card'},{'name': 'TreeGridComponent', 'selector': 'ngx-tree-grid'},{'name': 'TwoColumnsLayoutComponent', 'selector': 'ngx-two-columns-layout'},{'name': 'TypographyComponent', 'selector': 'ngx-typography'},{'name': 'UiFeaturesComponent', 'selector': 'ngx-ui-features'},{'name': 'VendorDetailsComponent', 'selector': 'ngx-vendor-details'},{'name': 'VendorOnboardComponent', 'selector': 'ngx-vendor-onboard'},{'name': 'VerifyDialogComponent', 'selector': 'ngx-verify-dialog'},{'name': 'WeatherComponent', 'selector': 'ngx-weather'},{'name': 'WindowComponent', 'selector': 'ngx-window'},{'name': 'WindowFormComponent', 'selector': ''}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'CountryOrdersChartComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'CountryOrdersChartComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
