<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ngx-admin documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">ngx-admin documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>DayCellComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#templateData" role="tab" id="templateData-tab" data-toggle="tab" data-link="template">Template</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/pages/extra-components/calendar/day-cell/day-cell.component.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
                <code><a href="../components/DayCellComponent.html" target="_self" >NbCalendarDayCellComponent</a></code>
    </p>



<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>





            <tr>
                <td class="col-md-3">host</td>
                <td class="col-md-9"><code>{<br>}</code></td>
            </tr>






            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ngx-day-cell</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>day-cell.component.scss</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>day-cell.component.html</code></td>
            </tr>








        </tbody>
    </table>
</section>









</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component } from &#x27;@angular/core&#x27;;
import { NbCalendarDayCellComponent } from &#x27;@nebular/theme&#x27;;

@Component({
  selector: &#x27;ngx-day-cell&#x27;,
  templateUrl: &#x27;day-cell.component.html&#x27;,
  styleUrls: [&#x27;day-cell.component.scss&#x27;],
  host: { &#x27;(click)&#x27;: &#x27;onClick()&#x27;, &#x27;class&#x27;: &#x27;day-cell&#x27; },
})
export class DayCellComponent extends NbCalendarDayCellComponent&lt;Date&gt; {
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-templateData">
        <pre class="line-numbers"><code class="language-html">&lt;div&gt;{{ day }}&lt;/div&gt;
&lt;span class&#x3D;&quot;caption&quot;&gt;{{ (day + 100) * day }}$&lt;/span&gt;
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>day-cell.component.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">@import &#x27;../../../../@theme/styles/themes&#x27;;

@include nb-install-component() {
  text-align: center;
  flex-direction: column;

  .caption {
    display: block;
  }

  &amp;.selected .caption,
  &amp;:hover .caption {
    color: nb-theme(text-control-color);
  }

  &amp;.bounding-month .caption {
    color: inherit;
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div>{{ day }}</div><span class="caption">{{ (day + 100) * day }}$</span></div>'
    var COMPONENTS = [{'name': 'AlertComponent', 'selector': 'ngx-alert'},{'name': 'AppComponent', 'selector': 'ngx-app'},{'name': 'BomComponent', 'selector': 'ngx-bom'},{'name': 'BomComponent', 'selector': 'ngx-bom-2'},{'name': 'BomDetailDialogComponent', 'selector': 'ngx-bom-detail-dialog'},{'name': 'CalendarComponent', 'selector': 'ngx-calendar'},{'name': 'CalendarKitFullCalendarShowcaseComponent', 'selector': 'ngx-calendar-kit'},{'name': 'CalendarKitMonthCellComponent', 'selector': 'ngx-calendar-kit-month-cell'},{'name': 'ChartjsBarComponent', 'selector': 'ngx-chartjs-bar'},{'name': 'ChartjsBarHorizontalComponent', 'selector': 'ngx-chartjs-bar-horizontal'},{'name': 'ChartjsComponent', 'selector': 'ngx-chartjs'},{'name': 'ChartjsLineComponent', 'selector': 'ngx-chartjs-line'},{'name': 'ChartjsMultipleXaxisComponent', 'selector': 'ngx-chartjs-multiple-xaxis'},{'name': 'ChartjsPieComponent', 'selector': 'ngx-chartjs-pie'},{'name': 'ChartjsRadarComponent', 'selector': 'ngx-chartjs-radar'},{'name': 'ChartPanelHeaderComponent', 'selector': 'ngx-chart-panel-header'},{'name': 'ChartPanelSummaryComponent', 'selector': 'ngx-chart-panel-summary'},{'name': 'ChartsComponent', 'selector': 'ngx-charts'},{'name': 'ChatComponent', 'selector': 'ngx-chat'},{'name': 'ConfigurationComponent', 'selector': 'ngx-configuration'},{'name': 'ConnectivityComponent', 'selector': 'ngx-connectivity'},{'name': 'ContactsComponent', 'selector': 'ngx-contacts'},{'name': 'CustomerOnboardComponent', 'selector': 'ngx-industry-vertical'},{'name': 'D3AdvancedPieComponent', 'selector': 'ngx-d3-advanced-pie'},{'name': 'D3AreaStackComponent', 'selector': 'ngx-d3-area-stack'},{'name': 'D3BarComponent', 'selector': 'ngx-d3-bar'},{'name': 'D3Component', 'selector': 'ngx-d3'},{'name': 'D3LineComponent', 'selector': 'ngx-d3-line'},{'name': 'D3PieComponent', 'selector': 'ngx-d3-pie'},{'name': 'D3PolarComponent', 'selector': 'ngx-d3-polar'},{'name': 'DashboardComponent', 'selector': 'ngx-dashboard'},{'name': 'DayCellComponent', 'selector': 'ngx-day-cell'},{'name': 'DialogComponent', 'selector': 'ngx-dialog'},{'name': 'DialogNamePromptComponent', 'selector': 'ngx-dialog-name-prompt'},{'name': 'EarningCardBackComponent', 'selector': 'ngx-earning-card-back'},{'name': 'EarningCardComponent', 'selector': 'ngx-earning-card'},{'name': 'EarningCardFrontComponent', 'selector': 'ngx-earning-card-front'},{'name': 'EarningLiveUpdateChartComponent', 'selector': 'ngx-earning-live-update-chart'},{'name': 'EarningPieChartComponent', 'selector': 'ngx-earning-pie-chart'},{'name': 'EchartsAreaStackComponent', 'selector': 'ngx-echarts-area-stack'},{'name': 'EchartsBarAnimationComponent', 'selector': 'ngx-echarts-bar-animation'},{'name': 'EchartsBarComponent', 'selector': 'ngx-echarts-bar'},{'name': 'EchartsComponent', 'selector': 'ngx-echarts'},{'name': 'EchartsLineComponent', 'selector': 'ngx-echarts-line'},{'name': 'EchartsMultipleXaxisComponent', 'selector': 'ngx-echarts-multiple-xaxis'},{'name': 'EchartsPieComponent', 'selector': 'ngx-echarts-pie'},{'name': 'EchartsRadarComponent', 'selector': 'ngx-echarts-radar'},{'name': 'ECommerceChartsPanelComponent', 'selector': 'ngx-ecommerce-charts'},{'name': 'ECommerceLegendChartComponent', 'selector': 'ngx-legend-chart'},{'name': 'ElectricityChartComponent', 'selector': 'ngx-electricity-chart'},{'name': 'ElectricityComponent', 'selector': 'ngx-electricity'},{'name': 'ExtraComponentsComponent', 'selector': 'ngx-components'},{'name': 'FilterDialogComponent', 'selector': 'ngx-filter-dialog'},{'name': 'FilterTwoDialogComponent', 'selector': 'ngx-filter-two-dialog'},{'name': 'FooterComponent', 'selector': 'ngx-footer'},{'name': 'FsIconComponent', 'selector': 'ngx-fs-icon'},{'name': 'GoodsReceiptComponent', 'selector': 'ngx-app-goods-receipt'},{'name': 'HeaderComponent', 'selector': 'ngx-header'},{'name': 'InteractiveProgressBarComponent', 'selector': 'ngx-interactive-progress-bar'},{'name': 'IOTDashboardComponent', 'selector': 'ngx-iot-dashboard'},{'name': 'IotDataDialogComponent', 'selector': 'ngx-iot-data-dialog'},{'name': 'KittenComponent', 'selector': 'ngx-kitten'},{'name': 'MiscellaneousComponent', 'selector': 'ngx-miscellaneous'},{'name': 'ModalOverlaysComponent', 'selector': 'ngx-modal-overlays'},{'name': 'NebularFormInputsComponent', 'selector': 'ngx-nebular-form-inputs'},{'name': 'NebularSelectComponent', 'selector': 'ngx-nebular-select'},{'name': 'NgxAuthComponent', 'selector': 'ngx-auth'},{'name': 'NgxLoginComponent', 'selector': 'ngx-login'},{'name': 'NgxPopoverCardComponent', 'selector': 'ngx-popover-card'},{'name': 'NgxPopoverFormComponent', 'selector': 'ngx-popover-form'},{'name': 'NgxPopoverTabsComponent', 'selector': 'ngx-popover-tabs'},{'name': 'NgxResetPasswordComponent', 'selector': 'ngx-login'},{'name': 'NotFoundComponent', 'selector': 'ngx-not-found'},{'name': 'OnboardComponent', 'selector': 'ngx-on-board'},{'name': 'OneColumnLayoutComponent', 'selector': 'ngx-one-column-layout'},{'name': 'OrdersChartComponent', 'selector': 'ngx-orders-chart'},{'name': 'PagesComponent', 'selector': 'ngx-pages'},{'name': 'PersonalisationDialogComponent', 'selector': 'ngx-personalisation-dialog'},{'name': 'PlayerComponent', 'selector': 'ngx-player'},{'name': 'PopoversComponent', 'selector': 'ngx-popovers'},{'name': 'ProcessComponent', 'selector': 'ngx-process'},{'name': 'ProcessParameterComponent', 'selector': 'ngx-process-parameter'},{'name': 'ProcessTypeComponent', 'selector': 'ngx-process-type'},{'name': 'ProductionModeComponent', 'selector': 'ngx-production-mode'},{'name': 'ProfitCardComponent', 'selector': 'ngx-profit-card'},{'name': 'ProfitChartComponent', 'selector': 'ngx-profit-chart'},{'name': 'ProgressBarComponent', 'selector': 'ngx-progress-bar'},{'name': 'QualityDataComponent', 'selector': 'ngx-app-quality-data'},{'name': 'QualityDataDialogComponent', 'selector': 'ngx-quality-data-dialog'},{'name': 'RoomsComponent', 'selector': 'ngx-rooms'},{'name': 'RoomSelectorComponent', 'selector': 'ngx-room-selector'},{'name': 'SearchInputComponent', 'selector': 'ngx-search-input'},{'name': 'SearchMaterialComponent', 'selector': 'ngx-search-material'},{'name': 'SecurityCamerasComponent', 'selector': 'ngx-security-cameras'},{'name': 'ShowcaseDialogComponent', 'selector': 'ngx-showcase-dialog'},{'name': 'SmartTableComponent', 'selector': 'ngx-smart-table'},{'name': 'SolarComponent', 'selector': 'ngx-solar'},{'name': 'SpinnerColorComponent', 'selector': 'ngx-spinner-color'},{'name': 'SpinnerComponent', 'selector': 'ngx-spinner'},{'name': 'SpinnerInButtonsComponent', 'selector': 'ngx-spinner-in-buttons'},{'name': 'SpinnerInTabsComponent', 'selector': 'ngx-spinner-in-tabs'},{'name': 'SpinnerSizesComponent', 'selector': 'ngx-spinner-sizes'},{'name': 'StartupWizardComponent', 'selector': 'ngx-startup-wizard'},{'name': 'StatsAreaChartComponent', 'selector': 'ngx-stats-ares-chart'},{'name': 'StatsBarAnimationChartComponent', 'selector': 'ngx-stats-bar-animation-chart'},{'name': 'StatsCardBackComponent', 'selector': 'ngx-stats-card-back'},{'name': 'StatsCardFrontComponent', 'selector': 'ngx-stats-card-front'},{'name': 'StatusCardComponent', 'selector': 'ngx-status-card'},{'name': 'TablesComponent', 'selector': 'ngx-tables'},{'name': 'TemperatureComponent', 'selector': 'ngx-temperature'},{'name': 'TemperatureDraggerComponent', 'selector': 'ngx-temperature-dragger'},{'name': 'ThreeColumnsLayoutComponent', 'selector': 'ngx-three-columns-layout'},{'name': 'TinyMCEComponent', 'selector': 'ngx-tiny-mce'},{'name': 'ToastrComponent', 'selector': 'ngx-toastr'},{'name': 'TolerenceDeviationComponent', 'selector': 'ngx-tolerence-deviation'},{'name': 'TooltipComponent', 'selector': 'ngx-tooltip'},{'name': 'TracexReportComponent', 'selector': 'ngx-tracex-report'},{'name': 'TrafficChartComponent', 'selector': 'ngx-traffic-chart'},{'name': 'TrafficComponent', 'selector': 'ngx-traffic'},{'name': 'TreeGridComponent', 'selector': 'ngx-tree-grid'},{'name': 'TwoColumnsLayoutComponent', 'selector': 'ngx-two-columns-layout'},{'name': 'VendorDetailsComponent', 'selector': 'ngx-vendor-details'},{'name': 'VendorOnboardComponent', 'selector': 'ngx-vendor-onboard'},{'name': 'VerifyDialogComponent', 'selector': 'ngx-verify-dialog'},{'name': 'WeatherComponent', 'selector': 'ngx-weather'},{'name': 'WindowComponent', 'selector': 'ngx-window'},{'name': 'WindowFormComponent', 'selector': ''}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'DayCellComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'DayCellComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
