<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ngx-admin documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">ngx-admin documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>StatusCardComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/pages/iot-dashboard/status-card/status-card.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ngx-status-card</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./status-card.component.scss</code></td>
            </tr>


            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;nb-card (click)&#x3D;&quot;on &#x3D; !on&quot; [ngClass]&#x3D;&quot;{&#x27;off&#x27;: !on}&quot;&gt;
  &lt;div class&#x3D;&quot;icon-container&quot;&gt;
    &lt;div class&#x3D;&quot;icon status-{{ type }}&quot;&gt;
      &lt;ng-content&gt;&lt;/ng-content&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class&#x3D;&quot;details&quot;&gt;
    &lt;div class&#x3D;&quot;title h5&quot;&gt;{{ title }}&lt;/div&gt;
    &lt;div class&#x3D;&quot;status paragraph-2&quot;&gt;{{ on ? &#x27;ON&#x27; : &#x27;OFF&#x27; }}&lt;/div&gt;
  &lt;/div&gt;
&lt;/nb-card&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>


                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#on">on</a>
                            </li>
                            <li>
                                <a href="#title">title</a>
                            </li>
                            <li>
                                <a href="#type">type</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="on"></a>
                        <b>on</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>true</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="25" class="link-to-prism">src/app/pages/iot-dashboard/status-card/status-card.component.ts:25</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="title"></a>
                        <b>title</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="23" class="link-to-prism">src/app/pages/iot-dashboard/status-card/status-card.component.ts:23</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="type"></a>
                        <b>type</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="24" class="link-to-prism">src/app/pages/iot-dashboard/status-card/status-card.component.ts:24</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>





</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, Input } from &#x27;@angular/core&#x27;;

@Component({
  selector: &#x27;ngx-status-card&#x27;,
  styleUrls: [&#x27;./status-card.component.scss&#x27;],
  template: &#x60;
    &lt;nb-card (click)&#x3D;&quot;on &#x3D; !on&quot; [ngClass]&#x3D;&quot;{&#x27;off&#x27;: !on}&quot;&gt;
      &lt;div class&#x3D;&quot;icon-container&quot;&gt;
        &lt;div class&#x3D;&quot;icon status-{{ type }}&quot;&gt;
          &lt;ng-content&gt;&lt;/ng-content&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class&#x3D;&quot;details&quot;&gt;
        &lt;div class&#x3D;&quot;title h5&quot;&gt;{{ title }}&lt;/div&gt;
        &lt;div class&#x3D;&quot;status paragraph-2&quot;&gt;{{ on ? &#x27;ON&#x27; : &#x27;OFF&#x27; }}&lt;/div&gt;
      &lt;/div&gt;
    &lt;/nb-card&gt;
  &#x60;,
})
export class StatusCardComponent {

  @Input() title: string;
  @Input() type: string;
  @Input() on &#x3D; true;
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./status-card.component.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">@import &#x27;../../../@theme/styles/themes&#x27;;

@include nb-install-component() {
  nb-card {
    flex-direction: row;
    align-items: center;
    height: 6rem;
    overflow: visible;

    .icon-container {
      height: 100%;
      padding: 0.625rem;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5.75rem;
      height: 4.75rem;
      font-size: 3.75rem;
      border-radius: nb-theme(card-border-radius);
      transition: width 0.4s ease;
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      color: nb-theme(text-control-color);

      @each $status in nb-get-statuses() {
        &amp;.status-#{$status} {
          $left-color: nb-theme(button-hero-#{$status}-left-background-color);
          $right-color: nb-theme(button-hero-#{$status}-right-background-color);
          background-image: linear-gradient(to right, $left-color, $right-color);

          &amp;:hover {
            $left-hover-color: nb-theme(button-hero-#{$status}-hover-left-background-color);
            $right-hover-color: nb-theme(button-hero-#{$status}-hover-right-background-color);
            background-image: linear-gradient(to right, $left-hover-color, $right-hover-color);
          }
        }
      }
    }

    &amp;.off {
      color: nb-theme(text-hint-color);

      .status,
      .title,
      .icon {
        color: nb-theme(text-hint-color);
      }

      @each $status in nb-get-statuses() {
        .icon.status-#{$status} {
          box-shadow: none;
          background-image: linear-gradient(to right, transparent, transparent);
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
      @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
      border-left: 1px solid transparent;
    }

    .title {
      margin: 0;
    }

    .status {
      text-transform: uppercase;
    }
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><nb-card (click)="on = !on" [ngClass]="{\'off\': !on}">  <div class="icon-container">    <div class="icon status-{{ type }}">      <ng-content></ng-content>    </div>  </div>  <div class="details">    <div class="title h5">{{ title }}</div>    <div class="status paragraph-2">{{ on ? \'ON\' : \'OFF\' }}</div>  </div></nb-card></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'ngx-app'},{'name': 'BomComponent', 'selector': 'ngx-bom'},{'name': 'BomComponent', 'selector': 'ngx-bom-2'},{'name': 'BomDetailDialogComponent', 'selector': 'ngx-bom-detail-dialog'},{'name': 'ConfigurationComponent', 'selector': 'ngx-configuration'},{'name': 'ConnectivityComponent', 'selector': 'ngx-connectivity'},{'name': 'ContactsComponent', 'selector': 'ngx-contacts'},{'name': 'CustomerOnboardComponent', 'selector': 'ngx-industry-vertical'},{'name': 'DashboardComponent', 'selector': 'ngx-dashboard'},{'name': 'DialogComponent', 'selector': 'ngx-dialog'},{'name': 'DialogNamePromptComponent', 'selector': 'ngx-dialog-name-prompt'},{'name': 'ElectricityChartComponent', 'selector': 'ngx-electricity-chart'},{'name': 'ElectricityComponent', 'selector': 'ngx-electricity'},{'name': 'FilterDialogComponent', 'selector': 'ngx-filter-dialog'},{'name': 'FilterTwoDialogComponent', 'selector': 'ngx-filter-two-dialog'},{'name': 'FooterComponent', 'selector': 'ngx-footer'},{'name': 'GoodsReceiptComponent', 'selector': 'ngx-app-goods-receipt'},{'name': 'HeaderComponent', 'selector': 'ngx-header'},{'name': 'IOTDashboardComponent', 'selector': 'ngx-iot-dashboard'},{'name': 'IotDataDialogComponent', 'selector': 'ngx-iot-data-dialog'},{'name': 'KittenComponent', 'selector': 'ngx-kitten'},{'name': 'MiscellaneousComponent', 'selector': 'ngx-miscellaneous'},{'name': 'ModalOverlaysComponent', 'selector': 'ngx-modal-overlays'},{'name': 'NgxAuthComponent', 'selector': 'ngx-auth'},{'name': 'NgxLoginComponent', 'selector': 'ngx-login'},{'name': 'NgxResetPasswordComponent', 'selector': 'ngx-login'},{'name': 'NotFoundComponent', 'selector': 'ngx-not-found'},{'name': 'OnboardComponent', 'selector': 'ngx-on-board'},{'name': 'OneColumnLayoutComponent', 'selector': 'ngx-one-column-layout'},{'name': 'PagesComponent', 'selector': 'ngx-pages'},{'name': 'PersonalisationDialogComponent', 'selector': 'ngx-personalisation-dialog'},{'name': 'PlayerComponent', 'selector': 'ngx-player'},{'name': 'ProcessComponent', 'selector': 'ngx-process'},{'name': 'ProcessParameterComponent', 'selector': 'ngx-process-parameter'},{'name': 'ProcessTypeComponent', 'selector': 'ngx-process-type'},{'name': 'ProductionModeComponent', 'selector': 'ngx-production-mode'},{'name': 'QualityDataComponent', 'selector': 'ngx-app-quality-data'},{'name': 'QualityDataDialogComponent', 'selector': 'ngx-quality-data-dialog'},{'name': 'RoomsComponent', 'selector': 'ngx-rooms'},{'name': 'RoomSelectorComponent', 'selector': 'ngx-room-selector'},{'name': 'SearchInputComponent', 'selector': 'ngx-search-input'},{'name': 'SearchMaterialComponent', 'selector': 'ngx-search-material'},{'name': 'SecurityCamerasComponent', 'selector': 'ngx-security-cameras'},{'name': 'ShowcaseDialogComponent', 'selector': 'ngx-showcase-dialog'},{'name': 'SolarComponent', 'selector': 'ngx-solar'},{'name': 'StartupWizardComponent', 'selector': 'ngx-startup-wizard'},{'name': 'StatusCardComponent', 'selector': 'ngx-status-card'},{'name': 'TemperatureComponent', 'selector': 'ngx-temperature'},{'name': 'TemperatureDraggerComponent', 'selector': 'ngx-temperature-dragger'},{'name': 'ThreeColumnsLayoutComponent', 'selector': 'ngx-three-columns-layout'},{'name': 'TinyMCEComponent', 'selector': 'ngx-tiny-mce'},{'name': 'TolerenceDeviationComponent', 'selector': 'ngx-tolerence-deviation'},{'name': 'TracexReportComponent', 'selector': 'ngx-tracex-report'},{'name': 'TrafficChartComponent', 'selector': 'ngx-traffic-chart'},{'name': 'TrafficComponent', 'selector': 'ngx-traffic'},{'name': 'TwoColumnsLayoutComponent', 'selector': 'ngx-two-columns-layout'},{'name': 'VendorDetailsComponent', 'selector': 'ngx-vendor-details'},{'name': 'VendorOnboardComponent', 'selector': 'ngx-vendor-onboard'},{'name': 'VerifyDialogComponent', 'selector': 'ngx-verify-dialog'},{'name': 'WeatherComponent', 'selector': 'ngx-weather'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'StatusCardComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'StatusCardComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
