<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ngx-admin documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">ngx-admin documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>TrafficComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/pages/iot-dashboard/traffic/traffic.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnDestroy" target="_blank" >OnDestroy</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ngx-traffic</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./traffic.component.scss</code></td>
            </tr>


            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;nb-card size&#x3D;&quot;tiny&quot;&gt;
  &lt;nb-card-header&gt;
    &lt;span&gt;Traffic Consumption&lt;/span&gt;

    &lt;nb-select [(selected)]&#x3D;&quot;type&quot;&gt;
      &lt;nb-option *ngFor&#x3D;&quot;let t of types&quot; [value]&#x3D;&quot;t&quot;&gt;{{ t }}&lt;/nb-option&gt;
    &lt;/nb-select&gt;
  &lt;/nb-card-header&gt;

  &lt;ngx-traffic-chart [points]&#x3D;&quot;trafficChartPoints&quot;&gt;&lt;/ngx-traffic-chart&gt;
&lt;/nb-card&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#alive">alive</a>
                            </li>
                            <li>
                                <a href="#currentTheme">currentTheme</a>
                            </li>
                            <li>
                                <a href="#trafficChartPoints">trafficChartPoints</a>
                            </li>
                            <li>
                                <a href="#type">type</a>
                            </li>
                            <li>
                                <a href="#types">types</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngOnDestroy">ngOnDestroy</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(themeService: <a href="../classes/Service.html">NbThemeService</a>, trafficChartService: TrafficChartData)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="31" class="link-to-prism">src/app/pages/iot-dashboard/traffic/traffic.component.ts:31</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>themeService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../classes/Service.html" target="_self" >NbThemeService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>trafficChartService</td>
                                                  
                                                        <td>
                                                                    <code>TrafficChartData</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnDestroy"></a>
                    <span class="name">
                        <b>
                            ngOnDestroy
                        </b>
                        <a href="#ngOnDestroy"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnDestroy()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="48"
                            class="link-to-prism">src/app/pages/iot-dashboard/traffic/traffic.component.ts:48</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="alive"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Private</span>
                            alive</b>
                            <a href="#alive"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>true</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="26" class="link-to-prism">src/app/pages/iot-dashboard/traffic/traffic.component.ts:26</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="currentTheme"></a>
                        <span class="name">
                            <b>
                            currentTheme</b>
                            <a href="#currentTheme"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="31" class="link-to-prism">src/app/pages/iot-dashboard/traffic/traffic.component.ts:31</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="trafficChartPoints"></a>
                        <span class="name">
                            <b>
                            trafficChartPoints</b>
                            <a href="#trafficChartPoints"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>number[]</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="28" class="link-to-prism">src/app/pages/iot-dashboard/traffic/traffic.component.ts:28</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="type"></a>
                        <span class="name">
                            <b>
                            type</b>
                            <a href="#type"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;month&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="29" class="link-to-prism">src/app/pages/iot-dashboard/traffic/traffic.component.ts:29</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="types"></a>
                        <span class="name">
                            <b>
                            types</b>
                            <a href="#types"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>[]</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[&#x27;week&#x27;, &#x27;month&#x27;, &#x27;year&#x27;]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="30" class="link-to-prism">src/app/pages/iot-dashboard/traffic/traffic.component.ts:30</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnDestroy } from &#x27;@angular/core&#x27;;
import { NbThemeService } from &#x27;@nebular/theme&#x27;;
import { takeWhile } from &#x27;rxjs/operators&#x27;;

import { TrafficChartData } from &#x27;../../../@core/data/traffic-chart&#x27;;

@Component({
  selector: &#x27;ngx-traffic&#x27;,
  styleUrls: [&#x27;./traffic.component.scss&#x27;],
  template: &#x60;
    &lt;nb-card size&#x3D;&quot;tiny&quot;&gt;
      &lt;nb-card-header&gt;
        &lt;span&gt;Traffic Consumption&lt;/span&gt;

        &lt;nb-select [(selected)]&#x3D;&quot;type&quot;&gt;
          &lt;nb-option *ngFor&#x3D;&quot;let t of types&quot; [value]&#x3D;&quot;t&quot;&gt;{{ t }}&lt;/nb-option&gt;
        &lt;/nb-select&gt;
      &lt;/nb-card-header&gt;

      &lt;ngx-traffic-chart [points]&#x3D;&quot;trafficChartPoints&quot;&gt;&lt;/ngx-traffic-chart&gt;
    &lt;/nb-card&gt;
  &#x60;,
})
export class TrafficComponent implements OnDestroy {

  private alive &#x3D; true;

  trafficChartPoints: number[];
  type &#x3D; &#x27;month&#x27;;
  types &#x3D; [&#x27;week&#x27;, &#x27;month&#x27;, &#x27;year&#x27;];
  currentTheme: string;

  constructor(private themeService: NbThemeService,
              private trafficChartService: TrafficChartData) {
    this.themeService.getJsTheme()
      .pipe(takeWhile(() &#x3D;&gt; this.alive))
      .subscribe(theme &#x3D;&gt; {
      this.currentTheme &#x3D; theme.name;
    });

    this.trafficChartService.getTrafficChartData()
      .pipe(takeWhile(() &#x3D;&gt; this.alive))
      .subscribe((data) &#x3D;&gt; {
        this.trafficChartPoints &#x3D; data;
      });
  }

  ngOnDestroy() {
    this.alive &#x3D; false;
  }
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./traffic.component.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">@import &#x27;../../../@theme/styles/themes&#x27;;

@include nb-install-component() {

  nb-card {
    position: relative;
    overflow: hidden;
  }

  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: nb-theme(card-header-with-select-padding-top);
    padding-bottom: nb-theme(card-header-with-select-padding-bottom);
    margin-bottom: -1px;
  }

  ngx-traffic-chart {
    flex: 1;
  }

  ::ng-deep {
    .echart {
      display: block;
      height: 100%;
      width: 100%;
    }

    canvas {
      border-bottom-left-radius: nb-theme(card-border-radius);
      border-bottom-right-radius: nb-theme(card-border-radius);
    }
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><nb-card size="tiny">  <nb-card-header>    <span>Traffic Consumption</span>    <nb-select [(selected)]="type">      <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>    </nb-select>  </nb-card-header>  <ngx-traffic-chart [points]="trafficChartPoints"></ngx-traffic-chart></nb-card></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'ngx-app'},{'name': 'BomComponent', 'selector': 'ngx-bom'},{'name': 'BomComponent', 'selector': 'ngx-bom-2'},{'name': 'BomDetailDialogComponent', 'selector': 'ngx-bom-detail-dialog'},{'name': 'ConfigurationComponent', 'selector': 'ngx-configuration'},{'name': 'ConnectivityComponent', 'selector': 'ngx-connectivity'},{'name': 'ContactsComponent', 'selector': 'ngx-contacts'},{'name': 'CustomerOnboardComponent', 'selector': 'ngx-industry-vertical'},{'name': 'DashboardComponent', 'selector': 'ngx-dashboard'},{'name': 'DialogComponent', 'selector': 'ngx-dialog'},{'name': 'DialogNamePromptComponent', 'selector': 'ngx-dialog-name-prompt'},{'name': 'ElectricityChartComponent', 'selector': 'ngx-electricity-chart'},{'name': 'ElectricityComponent', 'selector': 'ngx-electricity'},{'name': 'FilterDialogComponent', 'selector': 'ngx-filter-dialog'},{'name': 'FilterTwoDialogComponent', 'selector': 'ngx-filter-two-dialog'},{'name': 'FooterComponent', 'selector': 'ngx-footer'},{'name': 'GoodsReceiptComponent', 'selector': 'ngx-app-goods-receipt'},{'name': 'HeaderComponent', 'selector': 'ngx-header'},{'name': 'IOTDashboardComponent', 'selector': 'ngx-iot-dashboard'},{'name': 'IotDataDialogComponent', 'selector': 'ngx-iot-data-dialog'},{'name': 'KittenComponent', 'selector': 'ngx-kitten'},{'name': 'MiscellaneousComponent', 'selector': 'ngx-miscellaneous'},{'name': 'ModalOverlaysComponent', 'selector': 'ngx-modal-overlays'},{'name': 'NgxAuthComponent', 'selector': 'ngx-auth'},{'name': 'NgxLoginComponent', 'selector': 'ngx-login'},{'name': 'NgxResetPasswordComponent', 'selector': 'ngx-login'},{'name': 'NotFoundComponent', 'selector': 'ngx-not-found'},{'name': 'OnboardComponent', 'selector': 'ngx-on-board'},{'name': 'OneColumnLayoutComponent', 'selector': 'ngx-one-column-layout'},{'name': 'PagesComponent', 'selector': 'ngx-pages'},{'name': 'PersonalisationDialogComponent', 'selector': 'ngx-personalisation-dialog'},{'name': 'PlayerComponent', 'selector': 'ngx-player'},{'name': 'ProcessComponent', 'selector': 'ngx-process'},{'name': 'ProcessParameterComponent', 'selector': 'ngx-process-parameter'},{'name': 'ProcessTypeComponent', 'selector': 'ngx-process-type'},{'name': 'ProductionModeComponent', 'selector': 'ngx-production-mode'},{'name': 'QualityDataComponent', 'selector': 'ngx-app-quality-data'},{'name': 'QualityDataDialogComponent', 'selector': 'ngx-quality-data-dialog'},{'name': 'RoomsComponent', 'selector': 'ngx-rooms'},{'name': 'RoomSelectorComponent', 'selector': 'ngx-room-selector'},{'name': 'SearchInputComponent', 'selector': 'ngx-search-input'},{'name': 'SearchMaterialComponent', 'selector': 'ngx-search-material'},{'name': 'SecurityCamerasComponent', 'selector': 'ngx-security-cameras'},{'name': 'ShowcaseDialogComponent', 'selector': 'ngx-showcase-dialog'},{'name': 'SolarComponent', 'selector': 'ngx-solar'},{'name': 'StartupWizardComponent', 'selector': 'ngx-startup-wizard'},{'name': 'StatusCardComponent', 'selector': 'ngx-status-card'},{'name': 'TemperatureComponent', 'selector': 'ngx-temperature'},{'name': 'TemperatureDraggerComponent', 'selector': 'ngx-temperature-dragger'},{'name': 'ThreeColumnsLayoutComponent', 'selector': 'ngx-three-columns-layout'},{'name': 'TinyMCEComponent', 'selector': 'ngx-tiny-mce'},{'name': 'TolerenceDeviationComponent', 'selector': 'ngx-tolerence-deviation'},{'name': 'TracexReportComponent', 'selector': 'ngx-tracex-report'},{'name': 'TrafficChartComponent', 'selector': 'ngx-traffic-chart'},{'name': 'TrafficComponent', 'selector': 'ngx-traffic'},{'name': 'TwoColumnsLayoutComponent', 'selector': 'ngx-two-columns-layout'},{'name': 'VendorDetailsComponent', 'selector': 'ngx-vendor-details'},{'name': 'VendorOnboardComponent', 'selector': 'ngx-vendor-onboard'},{'name': 'VerifyDialogComponent', 'selector': 'ngx-verify-dialog'},{'name': 'WeatherComponent', 'selector': 'ngx-weather'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'TrafficComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'TrafficComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
